<%= form_with model: article, html: { class: "form-create-article" } do |form| %>
  <div class="form-field">
    <%= form.label :status, class: "form-label" %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public', class: "form-select" %>
  </div>

  <div class="form-field">
    <%= form.label :title, class: "form-label" %><br>
    <%= form.text_field :title, class: "form-input" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="form-error"><%= message %></div>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-textarea" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="form-error"><%= message %></div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= form.submit "Criar Artigo", class: "btn-submit" %>
  </div>
<% end %>
