<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="style.css">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Header da página com o botão de login/logout -->
    <header>
      <h1> <%= link_to 'Tecno Aris', root_path %></h1>
      

      <p class="subtitulo">Últimas atualizações e novidades do mundo da tecnologia</p>

      <!-- Div de Login/Logout -->
      <div class="info-login">
        <% if admin_signed_in? %>
          <p>Bem-vindo, <%= current_admin.email %>!</p>
          <%= button_to 'Logout', destroy_admin_session_path, method: :delete, class:'btn btn-logout' %>
        <% else %>
          <%= link_to 'Login', new_admin_session_path, class:'btn btn-login' %>
        <% end %>
      </div>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %> 
    </main>

    <footer>
      <p>&copy; 2024 Tecno Aris. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
